@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300..600&display=swap");
@import "swiper/css";

/* html {
  scrollbar-gutter: stable;
} */

/* #app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
} */

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Inter", serif;
  font-size: 16px;
  color: #1f2020;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 64px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

.overflow-hidden {
  overflow: hidden;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
